<div class="checkout-page-container">
  <button class="back-button" (click)="goBack()">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15 18L9 12L15 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>
  <div class="checkout-content">

    <div class="checkout-header">
      <h1 class="checkout-title">Proceed with payout</h1>
      <p class="checkout-subtitle">Start monitoring your air</p>
    </div>

    <div class="checkout-details-container">
      <!-- Mesh Network Plan Details -->
      <div class="plan-summary-box">
        <h2 class="plan-summary-title">Mesh Network</h2>
        <div class="plan-price-info">
          <h3 class="plan-price-amount">S/ 29.90</h3>
          <p class="plan-price-period">Per month</p>
        </div>
      </div>

      <!-- Order Details -->
      <div class="order-details-box">
        <h2 class="order-details-title">Order Details</h2>
        <div class="order-item">
          <span class="order-item-name">Mesh Network</span>
          <span class="order-item-price">S/29.90</span>
        </div>
        <div class="order-divider"></div>
        <div class="order-item">
          <span class="order-item-name">Subtotal</span>
          <span class="order-item-price">S/29.90</span>
        </div>
        <div class="order-divider"></div>
        <div class="order-item order-total">
          <span class="order-item-name">Total due today</span>
          <span class="order-item-price">S/29.90</span>
        </div>
      </div>

      <!-- Payment Method Button -->
      <button class="add-payment-btn" (click)="onPress()">
        <span class="material-symbols-outlined payment-icon">credit_card</span>
        <span class="payment-btn-text">Add payment method</span>
      </button>

      <!-- Autorenew Info -->
      <div class="autorenew-box">
        <span class="material-symbols-outlined info-icon">info</span>
        <p class="autorenew-text">Your subscription will autorenew on {{ autorenewDate }}</p>
      </div>

      <!-- Terms checkbox -->
      <div class="terms-box">
        <div class="checkbox-container">
          <input type="checkbox" class="terms-checkbox" id="terms-checkbox">
          <label for="terms-checkbox" class="custom-checkbox"></label>
        </div>
        <p class="terms-text">I accept Clair to charge me the accorded amount on a monthly subscriptions.</p>
      </div>

      <!-- Subscribe Button -->
      <button class="subscribe-btn" (click)="onPress()">
        Subscribe
      </button>
    </div>
  </div>
</div>