<aside class="sidebar-container" [class.collapsed]="!isOpen">
  <!-- Search -->
  <div *ngIf="isOpen" class="search-wrapper">
    <mat-icon class="search-icon">search</mat-icon>
    <input type="text" [attr.placeholder]="'sidebar.searchPlaceholder' | translate" class="search-input" />
  </div>

  <!-- Navigation -->
  <nav class="nav-list">
    <a *ngFor="let item of navItems" class="nav-item" [routerLink]="item.route || null" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: item.component === 'space-devices' ? false : true }" (click)="onNavItemClick()">
      <div [ngSwitch]="item.component" class="icon-container">
        <app-overview *ngSwitchCase="'overview'" class="nav-icon"></app-overview>
        <app-air-quality *ngSwitchCase="'air-quality'" class="nav-icon"></app-air-quality>
        <app-alerts-actions *ngSwitchCase="'alerts-actions'" class="nav-icon"></app-alerts-actions>
        <app-reports *ngSwitchCase="'reports'" class="nav-icon"></app-reports>
        <app-space-devices *ngSwitchCase="'space-devices'" class="nav-icon"></app-space-devices>
      </div>
      <span *ngIf="isOpen">{{ item.label | translate }}</span>
    </a>

  </nav>
  <!-- Upgrade Plan -->
  <a *ngIf="isUpgradeVisible" class="nav-item upgrade-btn" routerLink="/select-plan" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }" (click)="onNavItemClick()">
    <mat-icon>workspace_premium</mat-icon>
    <span *ngIf="isOpen">{{ 'sidebar.upgradePlan' | translate }}</span>
  </a>

  <!-- Settings -->
  <div class="settings-wrapper">
    <a class="nav-item" routerLink="/settings" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      (click)="onNavItemClick()">
      <mat-icon>settings</mat-icon>
      <span *ngIf="isOpen">{{ 'sidebar.settings' | translate }}</span>
    </a>
  </div>
</aside>