<mat-card class="plan-card" appearance="outlined">
	<div class="plan-header">
		<span class="material-symbols-outlined plan-icon">calendar_view_month</span>
		<h2 class="plan-title">Mesh Network</h2>
	</div>

	<div class="plan-price-section">
		<h3 class="plan-price">S/ 29.90</h3>
		<p class="plan-price-subtitle">Per month</p>
	</div>

	<button class="submit-button" (click)="onPress()">
		Try Clair
	</button>

	<div class="features-list">
		<p class="features-list-header">Everything in Free, plus:</p>

		<div class="feature-item">
			<span class="material-symbols-outlined feature-icon">check</span>
			<p class="feature-text">Support for more than one device</p>
		</div>

		<div class="feature-item">
			<span class="material-symbols-outlined feature-icon">check</span>
			<p class="feature-text">Multi-room dashboard</p>
		</div>

		<div class="feature-item">
			<span class="material-symbols-outlined feature-icon">check</span>
			<p class="feature-text">Advanced historical data and analytics</p>
		</div>

		<div class="feature-item">
			<span class="material-symbols-outlined feature-icon">check</span>
			<p class="feature-text">Centralized sensor managament</p>
		</div>
	</div>
</mat-card>