<mat-card class="plan-card" appearance="outlined">
  <div class="plan-header">
    <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/9pEVa5rDhG/jwlq5p8h_expires_30_days.png"
      class="plan-icon" />
    <h2 class="plan-title">Mesh Network</h2>
  </div>

  <div class="plan-price-section">
    <h3 class="plan-price">S/ 29.90</h3>
    <p class="plan-price-subtitle">Per month</p>
  </div>

  <button class="submit-button" (click)="onPress()">
    Try Clair
  </button>

  <div class="features-list">
    <p class="features-list-header">Everything in Free, plus:</p>
    
    <div class="feature-item">
      <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/9pEVa5rDhG/iryh5jaa_expires_30_days.png"
        class="feature-icon" />
      <p class="feature-text">Support for more than one device</p>
    </div>
    
    <div class="feature-item">
      <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/9pEVa5rDhG/lf44jhqr_expires_30_days.png"
        class="feature-icon" />
      <p class="feature-text">Multi-room dashboard</p>
    </div>
    
    <div class="feature-item">
      <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/9pEVa5rDhG/m1z9y03j_expires_30_days.png"
        class="feature-icon" />
      <p class="feature-text">Advanced historical data and analytics</p>
    </div>
    
    <div class="feature-item">
      <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/9pEVa5rDhG/b6gnkpr2_expires_30_days.png"
        class="feature-icon" />
      <p class="feature-text">Centralized sensor managament</p>
    </div>
  </div>
</mat-card>