<div class="page-container">
  <img
    src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/9pEVa5rDhG/x4fejgz5_expires_30_days.png"
    class="logo-header"
    alt="Clair Logo"
  />
  <div class="header-text">
    <h1 class="title">Select your plan</h1>
    <p class="subtitle">Start monitoring your air</p>
  </div>
  
  <div class="cards-container">
    <app-free-plan-card (onSelect)="onPress()"></app-free-plan-card>
    <app-premium-plan-card (onSelect)="onPress()"></app-premium-plan-card>
  </div>
</div>