<div class="filters-row">
  <mat-form-field appearance="outline" class="filter-field">
    <mat-label>Status</mat-label>
    <mat-select [value]="selectedStatus" (selectionChange)="onStatusChange($event.value)">
      <mat-option value="ALL">All</mat-option>
      <mat-option *ngFor="let s of statuses" [value]="s">{{ s }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="filter-field">
    <mat-label>Metric</mat-label>
    <mat-select [value]="selectedMetric" (selectionChange)="onMetricChange($event.value)">
      <mat-option value="ALL">All</mat-option>
      <mat-option *ngFor="let m of metrics" [value]="m">{{ m }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
